Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/backend/utils/test_auth.py
  src/test/unit/backend/utils/test_auth.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/backend/utils/test_retry.py
  src/test/unit/backend/utils/test_retry.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/backend/utils/test_schema.py
  src/test/unit/backend/utils/test_schema.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/backend/utils/test_storage.py
  src/test/unit/backend/utils/test_storage.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/components/test_alerts.tsx
  src/test/unit/web/components/test_alerts.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/components/test_dashboard.tsx
  src/test/unit/web/components/test_dashboard.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/components/test_healing.tsx
  src/test/unit/web/components/test_healing.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/components/test_pipeline.tsx
  src/test/unit/web/components/test_pipeline.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/components/test_quality.tsx
  src/test/unit/web/components/test_quality.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/hooks/test_useApi.tsx
  src/test/unit/web/hooks/test_useApi.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/hooks/test_useAuth.tsx
  src/test/unit/web/hooks/test_useAuth.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/services/test_apiClient.tsx
  src/test/unit/web/services/test_apiClient.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/unit/web/services/test_websocketClient.tsx
  src/test/unit/web/services/test_websocketClient.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/README.md
  src/test/utils/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/airflow_test_utils.py
  src/test/utils/airflow_test_utils.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/api_test_utils.py
  src/test/utils/api_test_utils.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/bigquery_test_utils.py
  src/test/utils/bigquery_test_utils.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/gcp_test_utils.py
  src/test/utils/gcp_test_utils.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/mock_services.py
  src/test/utils/mock_services.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/mocks.py
  src/test/utils/mocks.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/test_assertions.py
  src/test/utils/test_assertions.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/test_cleanup.py
  src/test/utils/test_cleanup.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/test_data_generators.py
  src/test/utils/test_data_generators.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/test_helpers.py
  src/test/utils/test_helpers.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/utils/web_test_utils.ts
  src/test/utils/web_test_utils.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/.env
  src/web/.env
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/package-lock.json
  src/web/package-lock.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/package.json
  src/web/package.json
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/tsconfig.node.json
  src/web/tsconfig.node.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @ui-leads
