Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/requirements.txt
  src/test/requirements.txt
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/setup.py
  src/test/setup.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/tox.ini
  src/test/tox.ini
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/README.md
  src/test/e2e/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/conftest.py
  src/test/e2e/conftest.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress.json
  src/test/e2e/cypress.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright.config.ts
  src/test/e2e/playwright.config.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/tsconfig.json
  src/test/e2e/cypress/tsconfig.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/fixtures/healing_data.json
  src/test/e2e/cypress/fixtures/healing_data.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/fixtures/pipeline_data.json
  src/test/e2e/cypress/fixtures/pipeline_data.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/fixtures/quality_data.json
  src/test/e2e/cypress/fixtures/quality_data.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/fixtures/users.json
  src/test/e2e/cypress/fixtures/users.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/alerts.spec.ts
  src/test/e2e/cypress/integration/alerts.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/configuration.spec.ts
  src/test/e2e/cypress/integration/configuration.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/dashboard.spec.ts
  src/test/e2e/cypress/integration/dashboard.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/data_quality.spec.ts
  src/test/e2e/cypress/integration/data_quality.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/login.spec.ts
  src/test/e2e/cypress/integration/login.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/pipeline_management.spec.ts
  src/test/e2e/cypress/integration/pipeline_management.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/integration/self_healing.spec.ts
  src/test/e2e/cypress/integration/self_healing.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/support/commands.ts
  src/test/e2e/cypress/support/commands.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/support/index.d.ts
  src/test/e2e/cypress/support/index.d.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/cypress/support/index.ts
  src/test/e2e/cypress/support/index.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/auth.setup.ts
  src/test/e2e/playwright/fixtures/auth.setup.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/test-data.ts
  src/test/e2e/playwright/fixtures/test-data.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/page-objects/alertsPage.ts
  src/test/e2e/playwright/fixtures/page-objects/alertsPage.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/page-objects/dashboardPage.ts
  src/test/e2e/playwright/fixtures/page-objects/dashboardPage.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/page-objects/healingPage.ts
  src/test/e2e/playwright/fixtures/page-objects/healingPage.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/page-objects/loginPage.ts
  src/test/e2e/playwright/fixtures/page-objects/loginPage.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/page-objects/pipelinePage.ts
  src/test/e2e/playwright/fixtures/page-objects/pipelinePage.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/fixtures/page-objects/qualityPage.ts
  src/test/e2e/playwright/fixtures/page-objects/qualityPage.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/tests/alerts.spec.ts
  src/test/e2e/playwright/tests/alerts.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/tests/dashboard.spec.ts
  src/test/e2e/playwright/tests/dashboard.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/tests/healing.spec.ts
  src/test/e2e/playwright/tests/healing.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/tests/login.spec.ts
  src/test/e2e/playwright/tests/login.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/tests/pipeline.spec.ts
  src/test/e2e/playwright/tests/pipeline.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/e2e/playwright/tests/quality.spec.ts
  src/test/e2e/playwright/tests/quality.spec.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/README.md
  src/test/environments/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/setup_test_env.py
  src/test/environments/gcp/setup_test_env.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/teardown_test_env.py
  src/test/environments/gcp/teardown_test_env.py
Owners: @qa-team, @data-engineering-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
