Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/collectors/log_ingestion.py
  src/backend/monitoring/collectors/log_ingestion.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/collectors/metric_collector.py
  src/backend/monitoring/collectors/metric_collector.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/collectors/state_tracker.py
  src/backend/monitoring/collectors/state_tracker.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/integrations/__init__.py
  src/backend/monitoring/integrations/__init__.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/integrations/cloud_monitoring.py
  src/backend/monitoring/integrations/cloud_monitoring.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/integrations/email_notifier.py
  src/backend/monitoring/integrations/email_notifier.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/integrations/logs_analyzer.py
  src/backend/monitoring/integrations/logs_analyzer.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/integrations/teams_notifier.py
  src/backend/monitoring/integrations/teams_notifier.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/visualization/__init__.py
  src/backend/monitoring/visualization/__init__.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/visualization/dashboard_engine.py
  src/backend/monitoring/visualization/dashboard_engine.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/visualization/diagnostic_tools.py
  src/backend/monitoring/visualization/diagnostic_tools.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/visualization/historical_analysis.py
  src/backend/monitoring/visualization/historical_analysis.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/monitoring/visualization/report_generator.py
  src/backend/monitoring/visualization/report_generator.py
Owners: @monitoring-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/__init__.py
  src/backend/optimization/__init__.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/implementation/__init__.py
  src/backend/optimization/implementation/__init__.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/implementation/auto_implementer.py
  src/backend/optimization/implementation/auto_implementer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/implementation/change_tracker.py
  src/backend/optimization/implementation/change_tracker.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/implementation/effectiveness_monitor.py
  src/backend/optimization/implementation/effectiveness_monitor.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/implementation/implementation_guide.py
  src/backend/optimization/implementation/implementation_guide.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/query/__init__.py
  src/backend/optimization/query/__init__.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/query/pattern_identifier.py
  src/backend/optimization/query/pattern_identifier.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/query/performance_predictor.py
  src/backend/optimization/query/performance_predictor.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/query/query_analyzer.py
  src/backend/optimization/query/query_analyzer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/query/query_optimizer.py
  src/backend/optimization/query/query_optimizer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/recommender/__init__.py
  src/backend/optimization/recommender/__init__.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/recommender/approval_workflow.py
  src/backend/optimization/recommender/approval_workflow.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/recommender/impact_estimator.py
  src/backend/optimization/recommender/impact_estimator.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/recommender/priority_ranker.py
  src/backend/optimization/recommender/priority_ranker.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/recommender/recommendation_generator.py
  src/backend/optimization/recommender/recommendation_generator.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/resource/__init__.py
  src/backend/optimization/resource/__init__.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/resource/cost_tracker.py
  src/backend/optimization/resource/cost_tracker.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/resource/resource_monitor.py
  src/backend/optimization/resource/resource_monitor.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/resource/resource_optimizer.py
  src/backend/optimization/resource/resource_optimizer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/resource/workload_manager.py
  src/backend/optimization/resource/workload_manager.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/schema/__init__.py
  src/backend/optimization/schema/__init__.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/schema/clustering_optimizer.py
  src/backend/optimization/schema/clustering_optimizer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/schema/partitioning_optimizer.py
  src/backend/optimization/schema/partitioning_optimizer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/schema/schema_analyzer.py
  src/backend/optimization/schema/schema_analyzer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/optimization/schema/table_designer.py
  src/backend/optimization/schema/table_designer.py
Owners: @performance-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/__init__.py
  src/backend/quality/__init__.py
Owners: @data-quality-team, @data-engineering-leads
