Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/backend.tf
  src/test/environments/gcp/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/outputs.tf
  src/test/environments/gcp/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/provider.tf
  src/test/environments/gcp/terraform/provider.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/test_bigquery.tf
  src/test/environments/gcp/terraform/test_bigquery.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/test_composer.tf
  src/test/environments/gcp/terraform/test_composer.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/test_environment.tf
  src/test/environments/gcp/terraform/test_environment.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/test_storage.tf
  src/test/environments/gcp/terraform/test_storage.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/gcp/terraform/variables.tf
  src/test/environments/gcp/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/local/config.yaml
  src/test/environments/local/config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/local/docker-compose.yml
  src/test/environments/local/docker-compose.yml
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/environments/local/init_test_db.sql
  src/test/environments/local/init_test_db.sql
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/README.md
  src/test/fixtures/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/conftest.py
  src/test/fixtures/conftest.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/airflow_fixtures.py
  src/test/fixtures/backend/airflow_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/api_fixtures.py
  src/test/fixtures/backend/api_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/db_fixtures.py
  src/test/fixtures/backend/db_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/healing_fixtures.py
  src/test/fixtures/backend/healing_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/ingestion_fixtures.py
  src/test/fixtures/backend/ingestion_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/monitoring_fixtures.py
  src/test/fixtures/backend/monitoring_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/optimization_fixtures.py
  src/test/fixtures/backend/optimization_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/backend/quality_fixtures.py
  src/test/fixtures/backend/quality_fixtures.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/web/api_fixtures.tsx
  src/test/fixtures/web/api_fixtures.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/web/auth_fixtures.tsx
  src/test/fixtures/web/auth_fixtures.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/fixtures/web/component_fixtures.tsx
  src/test/fixtures/web/component_fixtures.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/README.md
  src/test/integration/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/conftest.py
  src/test/integration/conftest.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_api_endpoints.py
  src/test/integration/backend/test_api_endpoints.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_bigquery_optimization.py
  src/test/integration/backend/test_bigquery_optimization.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_database_interactions.py
  src/test/integration/backend/test_database_interactions.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_ingestion_pipeline.py
  src/test/integration/backend/test_ingestion_pipeline.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_monitoring_alerts.py
  src/test/integration/backend/test_monitoring_alerts.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_quality_validation.py
  src/test/integration/backend/test_quality_validation.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/backend/test_self_healing_process.py
  src/test/integration/backend/test_self_healing_process.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/web/test_alerting_system.tsx
  src/test/integration/web/test_alerting_system.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/web/test_dashboard_integration.tsx
  src/test/integration/web/test_dashboard_integration.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/web/test_quality_data_flow.tsx
  src/test/integration/web/test_quality_data_flow.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/integration/web/test_self_healing_interaction.tsx
  src/test/integration/web/test_self_healing_interaction.tsx
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/README.md
  src/test/mock_data/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/api/sample_requests.json
  src/test/mock_data/api/sample_requests.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/api/sample_responses.json
  src/test/mock_data/api/sample_responses.json
Owners: @platform-team, @devops-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
