Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/bigquery_optimizations.yaml
  src/backend/configs/bigquery_optimizations.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/default_config.yaml
  src/backend/configs/default_config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/dev_config.yaml
  src/backend/configs/dev_config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/healing_rules.yaml
  src/backend/configs/healing_rules.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/logging_config.yaml
  src/backend/configs/logging_config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/monitoring_config.yaml
  src/backend/configs/monitoring_config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/pipeline_definitions.yaml
  src/backend/configs/pipeline_definitions.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/prod_config.yaml
  src/backend/configs/prod_config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/quality_rules.yaml
  src/backend/configs/quality_rules.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/source_connections.yaml
  src/backend/configs/source_connections.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/staging_config.yaml
  src/backend/configs/staging_config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/__init__.py
  src/backend/db/__init__.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/migrations/__init__.py
  src/backend/db/migrations/__init__.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/migrations/initial_migration.py
  src/backend/db/migrations/initial_migration.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/migrations/schema.py
  src/backend/db/migrations/schema.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/migrations/seed_data.py
  src/backend/db/migrations/seed_data.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/__init__.py
  src/backend/db/models/__init__.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/alert.py
  src/backend/db/models/alert.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/healing_action.py
  src/backend/db/models/healing_action.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/healing_execution.py
  src/backend/db/models/healing_execution.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/issue_pattern.py
  src/backend/db/models/issue_pattern.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/pipeline_definition.py
  src/backend/db/models/pipeline_definition.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/pipeline_execution.py
  src/backend/db/models/pipeline_execution.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/pipeline_metric.py
  src/backend/db/models/pipeline_metric.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/quality_rule.py
  src/backend/db/models/quality_rule.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/quality_validation.py
  src/backend/db/models/quality_validation.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/source_system.py
  src/backend/db/models/source_system.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/models/task_execution.py
  src/backend/db/models/task_execution.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/__init__.py
  src/backend/db/repositories/__init__.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/alert_repository.py
  src/backend/db/repositories/alert_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/execution_repository.py
  src/backend/db/repositories/execution_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/healing_repository.py
  src/backend/db/repositories/healing_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/metrics_repository.py
  src/backend/db/repositories/metrics_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/pipeline_repository.py
  src/backend/db/repositories/pipeline_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/quality_repository.py
  src/backend/db/repositories/quality_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/repositories/source_repository.py
  src/backend/db/repositories/source_repository.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/schema/__init__.py
  src/backend/db/schema/__init__.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/schema/bigquery_schema.py
  src/backend/db/schema/bigquery_schema.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/db/schema/firestore_schema.py
  src/backend/db/schema/firestore_schema.py
Owners: @data-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/ingestion/__init__.py
  src/backend/ingestion/__init__.py
Owners: @data-ingestion-team, @data-engineering-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
