Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/engines/__init__.py
  src/backend/quality/engines/__init__.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/engines/execution_engine.py
  src/backend/quality/engines/execution_engine.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/engines/quality_scorer.py
  src/backend/quality/engines/quality_scorer.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/engines/validation_engine.py
  src/backend/quality/engines/validation_engine.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/expectations/__init__.py
  src/backend/quality/expectations/__init__.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/expectations/custom_expectations.py
  src/backend/quality/expectations/custom_expectations.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/expectations/expectation_manager.py
  src/backend/quality/expectations/expectation_manager.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/expectations/expectation_suite_builder.py
  src/backend/quality/expectations/expectation_suite_builder.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/integrations/__init__.py
  src/backend/quality/integrations/__init__.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/integrations/bigquery_adapter.py
  src/backend/quality/integrations/bigquery_adapter.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/integrations/great_expectations_adapter.py
  src/backend/quality/integrations/great_expectations_adapter.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/integrations/metadata_integrator.py
  src/backend/quality/integrations/metadata_integrator.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/reporters/__init__.py
  src/backend/quality/reporters/__init__.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/reporters/issue_detector.py
  src/backend/quality/reporters/issue_detector.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/reporters/quality_reporter.py
  src/backend/quality/reporters/quality_reporter.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/reporters/report_generator.py
  src/backend/quality/reporters/report_generator.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/rules/__init__.py
  src/backend/quality/rules/__init__.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/rules/rule_editor.py
  src/backend/quality/rules/rule_editor.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/rules/rule_engine.py
  src/backend/quality/rules/rule_engine.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/rules/rule_loader.py
  src/backend/quality/rules/rule_loader.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/validators/__init__.py
  src/backend/quality/validators/__init__.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/validators/content_validator.py
  src/backend/quality/validators/content_validator.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/validators/relationship_validator.py
  src/backend/quality/validators/relationship_validator.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/validators/schema_validator.py
  src/backend/quality/validators/schema_validator.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/quality/validators/statistical_validator.py
  src/backend/quality/validators/statistical_validator.py
Owners: @data-quality-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/backup.sh
  src/backend/scripts/backup.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/init_composer.sh
  src/backend/scripts/init_composer.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/lint.sh
  src/backend/scripts/lint.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/migrate_db.sh
  src/backend/scripts/migrate_db.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/monitoring_setup.sh
  src/backend/scripts/monitoring_setup.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/secret_manager_setup.sh
  src/backend/scripts/secret_manager_setup.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/start.sh
  src/backend/scripts/start.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/scripts/user_setup.sh
  src/backend/scripts/user_setup.sh
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/__init__.py
  src/backend/self_healing/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/ai/__init__.py
  src/backend/self_healing/ai/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/ai/issue_classifier.py
  src/backend/self_healing/ai/issue_classifier.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/ai/pattern_recognizer.py
  src/backend/self_healing/ai/pattern_recognizer.py
Owners: @ai-ml-team, @data-engineering-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
