Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/package-lock.json
  src/backend/package-lock.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/package.json
  src/backend/package.json
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/requirements-dev.txt
  src/backend/requirements-dev.txt
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/settings.py
  src/backend/settings.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/setup.py
  src/backend/setup.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/wsgi.py
  src/backend/wsgi.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/__init__.py
  src/backend/airflow/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/config/__init__.py
  src/backend/airflow/config/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/config/connections.json
  src/backend/airflow/config/connections.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/config/pool_config.json
  src/backend/airflow/config/pool_config.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/config/variables.json
  src/backend/airflow/config/variables.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/__init__.py
  src/backend/airflow/dags/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/api_ingestion_dag.py
  src/backend/airflow/dags/api_ingestion_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/cloudsql_ingestion_dag.py
  src/backend/airflow/dags/cloudsql_ingestion_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/data_processing_dag.py
  src/backend/airflow/dags/data_processing_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/gcs_ingestion_dag.py
  src/backend/airflow/dags/gcs_ingestion_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/monitoring_dag.py
  src/backend/airflow/dags/monitoring_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/optimization_dag.py
  src/backend/airflow/dags/optimization_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/quality_validation_dag.py
  src/backend/airflow/dags/quality_validation_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/dags/self_healing_dag.py
  src/backend/airflow/dags/self_healing_dag.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/__init__.py
  src/backend/airflow/plugins/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_operators/__init__.py
  src/backend/airflow/plugins/custom_operators/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_operators/api_operators.py
  src/backend/airflow/plugins/custom_operators/api_operators.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_operators/cloudsql_operators.py
  src/backend/airflow/plugins/custom_operators/cloudsql_operators.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_operators/gcs_operators.py
  src/backend/airflow/plugins/custom_operators/gcs_operators.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_operators/healing_operators.py
  src/backend/airflow/plugins/custom_operators/healing_operators.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_operators/quality_operators.py
  src/backend/airflow/plugins/custom_operators/quality_operators.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_sensors/__init__.py
  src/backend/airflow/plugins/custom_sensors/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_sensors/api_sensors.py
  src/backend/airflow/plugins/custom_sensors/api_sensors.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_sensors/cloudsql_sensors.py
  src/backend/airflow/plugins/custom_sensors/cloudsql_sensors.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_sensors/gcs_sensors.py
  src/backend/airflow/plugins/custom_sensors/gcs_sensors.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/custom_sensors/quality_sensors.py
  src/backend/airflow/plugins/custom_sensors/quality_sensors.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/hooks/__init__.py
  src/backend/airflow/plugins/hooks/__init__.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/hooks/api_hooks.py
  src/backend/airflow/plugins/hooks/api_hooks.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/hooks/bigquery_hooks.py
  src/backend/airflow/plugins/hooks/bigquery_hooks.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/hooks/cloudsql_hooks.py
  src/backend/airflow/plugins/hooks/cloudsql_hooks.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/hooks/gcs_hooks.py
  src/backend/airflow/plugins/hooks/gcs_hooks.py
Owners: @orchestration-team, @data-engineering-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
