Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/logging/log_handler.py
  src/backend/utils/logging/log_handler.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/logging/logger.py
  src/backend/utils/logging/logger.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/ml/__init__.py
  src/backend/utils/ml/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/ml/feature_utils.py
  src/backend/utils/ml/feature_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/ml/model_utils.py
  src/backend/utils/ml/model_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/ml/prediction_utils.py
  src/backend/utils/ml/prediction_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/ml/vertex_client.py
  src/backend/utils/ml/vertex_client.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/monitoring/__init__.py
  src/backend/utils/monitoring/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/monitoring/metric_client.py
  src/backend/utils/monitoring/metric_client.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/monitoring/profiler.py
  src/backend/utils/monitoring/profiler.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/monitoring/tracer.py
  src/backend/utils/monitoring/tracer.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/retry/__init__.py
  src/backend/utils/retry/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/retry/backoff_strategy.py
  src/backend/utils/retry/backoff_strategy.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/retry/circuit_breaker.py
  src/backend/utils/retry/circuit_breaker.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/retry/retry_decorator.py
  src/backend/utils/retry/retry_decorator.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/schema/__init__.py
  src/backend/utils/schema/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/schema/avro_utils.py
  src/backend/utils/schema/avro_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/schema/jsonschema_utils.py
  src/backend/utils/schema/jsonschema_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/schema/schema_utils.py
  src/backend/utils/schema/schema_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/storage/__init__.py
  src/backend/utils/storage/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/storage/bigquery_client.py
  src/backend/utils/storage/bigquery_client.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/storage/firestore_client.py
  src/backend/utils/storage/firestore_client.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/storage/gcs_client.py
  src/backend/utils/storage/gcs_client.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/validation/__init__.py
  src/backend/utils/validation/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/validation/sanitizers.py
  src/backend/utils/validation/sanitizers.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/validation/type_converters.py
  src/backend/utils/validation/type_converters.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/validation/validators.py
  src/backend/utils/validation/validators.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/.env.example
  src/test/.env.example
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/.eslintrc.js
  src/test/.eslintrc.js
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/.gitignore
  src/test/.gitignore
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/.prettierrc
  src/test/.prettierrc
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/Dockerfile
  src/test/Dockerfile
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/README.md
  src/test/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/conftest.py
  src/test/conftest.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/docker-compose.test.yml
  src/test/docker-compose.test.yml
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/package-lock.json
  src/test/package-lock.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/package.json
  src/test/package.json
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/pyproject.toml
  src/test/pyproject.toml
Owners: @platform-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/pytest.ini
  src/test/pytest.ini
Owners: @qa-team, @data-engineering-leads
