Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/operations/backup-restore.md
  docs/operations/backup-restore.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/operations/incident-response.md
  docs/operations/incident-response.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/operations/maintenance.md
  docs/operations/maintenance.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/operations/scaling.md
  docs/operations/scaling.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/administration.md
  docs/user-guides/administration.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/configuration.md
  docs/user-guides/configuration.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/data-ingestion.md
  docs/user-guides/data-ingestion.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/data-quality.md
  docs/user-guides/data-quality.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/getting-started.md
  docs/user-guides/getting-started.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/monitoring.md
  docs/user-guides/monitoring.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/user-guides/self-healing.md
  docs/user-guides/self-healing.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/Chart.yaml
  infrastructure/helm/self-healing-pipeline/Chart.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/values-dev.yaml
  infrastructure/helm/self-healing-pipeline/values-dev.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/values-prod.yaml
  infrastructure/helm/self-healing-pipeline/values-prod.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/values-staging.yaml
  infrastructure/helm/self-healing-pipeline/values-staging.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/values.yaml
  infrastructure/helm/self-healing-pipeline/values.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/configmap.yaml
  infrastructure/helm/self-healing-pipeline/templates/configmap.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/deployment.yaml
  infrastructure/helm/self-healing-pipeline/templates/deployment.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/hpa.yaml
  infrastructure/helm/self-healing-pipeline/templates/hpa.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/ingress.yaml
  infrastructure/helm/self-healing-pipeline/templates/ingress.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/rbac.yaml
  infrastructure/helm/self-healing-pipeline/templates/rbac.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/secret.yaml
  infrastructure/helm/self-healing-pipeline/templates/secret.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/service.yaml
  infrastructure/helm/self-healing-pipeline/templates/service.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/helm/self-healing-pipeline/templates/serviceaccount.yaml
  infrastructure/helm/self-healing-pipeline/templates/serviceaccount.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/base/configmaps.yaml
  infrastructure/k8s/base/configmaps.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/kustomization.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/base/namespace.yaml
  infrastructure/k8s/base/namespace.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/base/rbac.yaml
  infrastructure/k8s/base/rbac.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/base/secrets.yaml
  infrastructure/k8s/base/secrets.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/base/service-accounts.yaml
  infrastructure/k8s/base/service-accounts.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/components/backend/deployment.yaml
  infrastructure/k8s/components/backend/deployment.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/components/backend/hpa.yaml
  infrastructure/k8s/components/backend/hpa.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/components/backend/service.yaml
  infrastructure/k8s/components/backend/service.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/components/web/deployment.yaml
  infrastructure/k8s/components/web/deployment.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/components/web/hpa.yaml
  infrastructure/k8s/components/web/hpa.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/components/web/service.yaml
  infrastructure/k8s/components/web/service.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/dev/configs.yaml
  infrastructure/k8s/overlays/dev/configs.yaml
Owners: @platform-team, @devops-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
