Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/ai/predictive_analyzer.py
  src/backend/self_healing/ai/predictive_analyzer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/ai/root_cause_analyzer.py
  src/backend/self_healing/ai/root_cause_analyzer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/config/__init__.py
  src/backend/self_healing/config/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/config/healing_config.py
  src/backend/self_healing/config/healing_config.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/config/risk_management.py
  src/backend/self_healing/config/risk_management.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/config/strategy_config.py
  src/backend/self_healing/config/strategy_config.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/correction/__init__.py
  src/backend/self_healing/correction/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/correction/data_corrector.py
  src/backend/self_healing/correction/data_corrector.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/correction/pipeline_adjuster.py
  src/backend/self_healing/correction/pipeline_adjuster.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/correction/recovery_orchestrator.py
  src/backend/self_healing/correction/recovery_orchestrator.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/correction/resource_optimizer.py
  src/backend/self_healing/correction/resource_optimizer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/decision/__init__.py
  src/backend/self_healing/decision/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/decision/approval_manager.py
  src/backend/self_healing/decision/approval_manager.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/decision/confidence_scorer.py
  src/backend/self_healing/decision/confidence_scorer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/decision/impact_analyzer.py
  src/backend/self_healing/decision/impact_analyzer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/decision/resolution_selector.py
  src/backend/self_healing/decision/resolution_selector.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/learning/__init__.py
  src/backend/self_healing/learning/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/learning/effectiveness_analyzer.py
  src/backend/self_healing/learning/effectiveness_analyzer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/learning/feedback_collector.py
  src/backend/self_healing/learning/feedback_collector.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/learning/knowledge_base.py
  src/backend/self_healing/learning/knowledge_base.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/learning/model_trainer.py
  src/backend/self_healing/learning/model_trainer.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/models/__init__.py
  src/backend/self_healing/models/__init__.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/models/model_evaluation.py
  src/backend/self_healing/models/model_evaluation.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/models/model_manager.py
  src/backend/self_healing/models/model_manager.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/models/model_registry.py
  src/backend/self_healing/models/model_registry.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/self_healing/models/model_serving.py
  src/backend/self_healing/models/model_serving.py
Owners: @ai-ml-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/bigquery.tf
  src/backend/terraform/bigquery.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/composer.tf
  src/backend/terraform/composer.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/functions.tf
  src/backend/terraform/functions.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/main.tf
  src/backend/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/monitoring.tf
  src/backend/terraform/monitoring.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/networking.tf
  src/backend/terraform/networking.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/outputs.tf
  src/backend/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/provider.tf
  src/backend/terraform/provider.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/security.tf
  src/backend/terraform/security.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/storage.tf
  src/backend/terraform/storage.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/variables.tf
  src/backend/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/vertex.tf
  src/backend/terraform/vertex.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/env/dev.tfvars
  src/backend/terraform/env/dev.tfvars
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/env/prod.tfvars
  src/backend/terraform/env/prod.tfvars
Owners: @devops-team, @platform-team
