Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/workflows/pr-validation.yml
  .github/workflows/pr-validation.yml
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/.github/workflows/quality-checks.yml
  .github/workflows/quality-checks.yml
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/README.md
  docs/README.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/admin-api.md
  docs/api/admin-api.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/authentication.md
  docs/api/authentication.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/healing-api.md
  docs/api/healing-api.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/ingestion-api.md
  docs/api/ingestion-api.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/monitoring-api.md
  docs/api/monitoring-api.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/optimization-api.md
  docs/api/optimization-api.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/overview.md
  docs/api/overview.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/api/quality-api.md
  docs/api/quality-api.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/data-ingestion.md
  docs/architecture/data-ingestion.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/data-quality.md
  docs/architecture/data-quality.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/disaster-recovery.md
  docs/architecture/disaster-recovery.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/optimization.md
  docs/architecture/optimization.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/security.md
  docs/architecture/security.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/architecture/self-healing.md
  docs/architecture/self-healing.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/development/ci-cd.md
  docs/development/ci-cd.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/development/contributing.md
  docs/development/contributing.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/development/setup.md
  docs/development/setup.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/development/testing.md
  docs/development/testing.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/development/troubleshooting.md
  docs/development/troubleshooting.md
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/examples/custom-connector.py
  docs/examples/custom-connector.py
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/examples/custom-validator.py
  docs/examples/custom-validator.py
Owners: @technical-writers, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/examples/healing-config.yaml
  docs/examples/healing-config.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/examples/pipeline-definitions.yaml
  docs/examples/pipeline-definitions.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/docs/examples/quality-rules.yaml
  docs/examples/quality-rules.yaml
Owners: @platform-team, @devops-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
