Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/dev/deployment-patches.yaml
  infrastructure/k8s/overlays/dev/deployment-patches.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/dev/ingress.yaml
  infrastructure/k8s/overlays/dev/ingress.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/dev/kustomization.yaml
  infrastructure/k8s/overlays/dev/kustomization.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/prod/configs.yaml
  infrastructure/k8s/overlays/prod/configs.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/prod/deployment-patches.yaml
  infrastructure/k8s/overlays/prod/deployment-patches.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/prod/ingress.yaml
  infrastructure/k8s/overlays/prod/ingress.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/prod/kustomization.yaml
  infrastructure/k8s/overlays/prod/kustomization.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/staging/configs.yaml
  infrastructure/k8s/overlays/staging/configs.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/staging/deployment-patches.yaml
  infrastructure/k8s/overlays/staging/deployment-patches.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/staging/ingress.yaml
  infrastructure/k8s/overlays/staging/ingress.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/k8s/overlays/staging/kustomization.yaml
  infrastructure/k8s/overlays/staging/kustomization.yaml
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/scripts/bootstrap.sh
  infrastructure/scripts/bootstrap.sh
Owners: @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/scripts/db-migration.sh
  infrastructure/scripts/db-migration.sh
Owners: @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/gke/main.tf
  infrastructure/terraform/gke/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/gke/outputs.tf
  infrastructure/terraform/gke/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/gke/provider.tf
  infrastructure/terraform/gke/provider.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/gke/variables.tf
  infrastructure/terraform/gke/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/iam/main.tf
  infrastructure/terraform/iam/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/iam/outputs.tf
  infrastructure/terraform/iam/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/iam/provider.tf
  infrastructure/terraform/iam/provider.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/iam/variables.tf
  infrastructure/terraform/iam/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/vpc/main.tf
  infrastructure/terraform/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/vpc/outputs.tf
  infrastructure/terraform/vpc/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/vpc/provider.tf
  infrastructure/terraform/vpc/provider.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/infrastructure/terraform/vpc/variables.tf
  infrastructure/terraform/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/.env.example
  src/backend/.env.example
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/.gitignore
  src/backend/.gitignore
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/README.md
  src/backend/README.md
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/app.py
  src/backend/app.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/config.py
  src/backend/config.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/constants.py
  src/backend/constants.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/logging_config.py
  src/backend/logging_config.py
Owners: @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/main.py
  src/backend/main.py
Owners: @data-engineering-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
