Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/bigquery/sample_data.json
  src/test/mock_data/bigquery/sample_data.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/bigquery/sample_schema.json
  src/test/mock_data/bigquery/sample_schema.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/cloudsql/sample_data.sql
  src/test/mock_data/cloudsql/sample_data.sql
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/cloudsql/sample_schema.sql
  src/test/mock_data/cloudsql/sample_schema.sql
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/gcs/sample_data.csv
  src/test/mock_data/gcs/sample_data.csv
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/gcs/sample_data.json
  src/test/mock_data/gcs/sample_data.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/generator/data_generator.py
  src/test/mock_data/generator/data_generator.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/generator/schema_generator.py
  src/test/mock_data/generator/schema_generator.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/healing/sample_corrections.json
  src/test/mock_data/healing/sample_corrections.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/healing/sample_issues.json
  src/test/mock_data/healing/sample_issues.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/monitoring/sample_alerts.json
  src/test/mock_data/monitoring/sample_alerts.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/monitoring/sample_metrics.json
  src/test/mock_data/monitoring/sample_metrics.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/quality/sample_expectations.json
  src/test/mock_data/quality/sample_expectations.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/mock_data/quality/sample_validation_results.json
  src/test/mock_data/quality/sample_validation_results.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/README.md
  src/test/performance/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/conftest.py
  src/test/performance/conftest.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/backend/test_api_load.py
  src/test/performance/backend/test_api_load.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/backend/test_bigquery_query_perf.py
  src/test/performance/backend/test_bigquery_query_perf.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/backend/test_data_ingestion_perf.py
  src/test/performance/backend/test_data_ingestion_perf.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/backend/test_self_healing_response_time.py
  src/test/performance/backend/test_self_healing_response_time.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/k6/scripts/api_load_test.js
  src/test/performance/k6/scripts/api_load_test.js
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/k6/scripts/common.js
  src/test/performance/k6/scripts/common.js
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/k6/scripts/healing_load_test.js
  src/test/performance/k6/scripts/healing_load_test.js
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/k6/scripts/ingestion_load_test.js
  src/test/performance/k6/scripts/ingestion_load_test.js
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/locust/locustfile.py
  src/test/performance/locust/locustfile.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/locust/tasks/api_tasks.py
  src/test/performance/locust/tasks/api_tasks.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/locust/tasks/healing_tasks.py
  src/test/performance/locust/tasks/healing_tasks.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/locust/tasks/ingestion_tasks.py
  src/test/performance/locust/tasks/ingestion_tasks.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/performance/locust/tasks/quality_tasks.py
  src/test/performance/locust/tasks/quality_tasks.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/README.md
  src/test/scenarios/README.md
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/data_ingestion_scenarios.py
  src/test/scenarios/data_ingestion_scenarios.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/data_quality_scenarios.py
  src/test/scenarios/data_quality_scenarios.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/end_to_end_scenarios.py
  src/test/scenarios/end_to_end_scenarios.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/monitoring_alert_scenarios.py
  src/test/scenarios/monitoring_alert_scenarios.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/optimization_scenarios.py
  src/test/scenarios/optimization_scenarios.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scenarios/self_healing_scenarios.py
  src/test/scenarios/self_healing_scenarios.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scripts/ci_test_runner.py
  src/test/scripts/ci_test_runner.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scripts/generate_test_data.sh
  src/test/scripts/generate_test_data.sh
Owners: @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scripts/generate_test_report.py
  src/test/scripts/generate_test_report.py
Owners: @qa-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/test/scripts/run_all_tests.sh
  src/test/scripts/run_all_tests.sh
Owners: @devops-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team
