Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/contexts/DashboardContext.tsx
  src/web/src/contexts/DashboardContext.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/contexts/QualityContext.tsx
  src/web/src/contexts/QualityContext.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/contexts/ThemeContext.tsx
  src/web/src/contexts/ThemeContext.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useApi.ts
  src/web/src/hooks/useApi.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @security-team, @frontend-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useDebounce.ts
  src/web/src/hooks/useDebounce.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useInterval.ts
  src/web/src/hooks/useInterval.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useLocalStorage.ts
  src/web/src/hooks/useLocalStorage.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useNotification.ts
  src/web/src/hooks/useNotification.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useOutsideClick.ts
  src/web/src/hooks/useOutsideClick.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/usePagination.ts
  src/web/src/hooks/usePagination.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useTheme.ts
  src/web/src/hooks/useTheme.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/hooks/__tests__/useApi.test.ts
  src/web/src/hooks/__tests__/useApi.test.ts
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/alerts.json
  src/web/src/locales/en/alerts.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/common.json
  src/web/src/locales/en/common.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/config.json
  src/web/src/locales/en/config.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/dashboard.json
  src/web/src/locales/en/dashboard.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/healing.json
  src/web/src/locales/en/healing.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/pipeline.json
  src/web/src/locales/en/pipeline.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/locales/en/quality.json
  src/web/src/locales/en/quality.json
Owners: @platform-team, @devops-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/Administration.tsx
  src/web/src/pages/Administration.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/Alerting.tsx
  src/web/src/pages/Alerting.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/Configuration.tsx
  src/web/src/pages/Configuration.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/Dashboard.tsx
  src/web/src/pages/Dashboard.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/DataQuality.tsx
  src/web/src/pages/DataQuality.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/Login.tsx
  src/web/src/pages/Login.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/NotFound.tsx
  src/web/src/pages/NotFound.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/PipelineManagement.tsx
  src/web/src/pages/PipelineManagement.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/Profile.tsx
  src/web/src/pages/Profile.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/SelfHealing.tsx
  src/web/src/pages/SelfHealing.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/alerts/AlertDashboard.tsx
  src/web/src/pages/alerts/AlertDashboard.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/alerts/AlertHistory.tsx
  src/web/src/pages/alerts/AlertHistory.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/alerts/NotificationConfig.tsx
  src/web/src/pages/alerts/NotificationConfig.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/optimization/QueryOptimization.tsx
  src/web/src/pages/optimization/QueryOptimization.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/optimization/ResourceOptimization.tsx
  src/web/src/pages/optimization/ResourceOptimization.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/optimization/SchemaOptimization.tsx
  src/web/src/pages/optimization/SchemaOptimization.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/selfHealing/ActivityLog.tsx
  src/web/src/pages/selfHealing/ActivityLog.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/selfHealing/Configuration.tsx
  src/web/src/pages/selfHealing/Configuration.tsx
Owners: @frontend-team, @ui-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/web/src/pages/selfHealing/ModelManagement.tsx
  src/web/src/pages/selfHealing/ModelManagement.tsx
Owners: @frontend-team, @ui-leads
