Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/airflow/plugins/hooks/vertex_hooks.py
  src/backend/airflow/plugins/hooks/vertex_hooks.py
Owners: @orchestration-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/__init__.py
  src/backend/api/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/app.py
  src/backend/api/app.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/__init__.py
  src/backend/api/controllers/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/admin_controller.py
  src/backend/api/controllers/admin_controller.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/healing_controller.py
  src/backend/api/controllers/healing_controller.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/ingestion_controller.py
  src/backend/api/controllers/ingestion_controller.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/monitoring_controller.py
  src/backend/api/controllers/monitoring_controller.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/optimization_controller.py
  src/backend/api/controllers/optimization_controller.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/controllers/quality_controller.py
  src/backend/api/controllers/quality_controller.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/middleware/__init__.py
  src/backend/api/middleware/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/middleware/auth_middleware.py
  src/backend/api/middleware/auth_middleware.py
Owners: @security-team, @api-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/middleware/cors_middleware.py
  src/backend/api/middleware/cors_middleware.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/middleware/error_middleware.py
  src/backend/api/middleware/error_middleware.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/middleware/logging_middleware.py
  src/backend/api/middleware/logging_middleware.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/models/__init__.py
  src/backend/api/models/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/models/data_models.py
  src/backend/api/models/data_models.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/models/error_models.py
  src/backend/api/models/error_models.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/models/request_models.py
  src/backend/api/models/request_models.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/models/response_models.py
  src/backend/api/models/response_models.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/__init__.py
  src/backend/api/routes/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/admin_routes.py
  src/backend/api/routes/admin_routes.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/healing_routes.py
  src/backend/api/routes/healing_routes.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/ingestion_routes.py
  src/backend/api/routes/ingestion_routes.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/monitoring_routes.py
  src/backend/api/routes/monitoring_routes.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/optimization_routes.py
  src/backend/api/routes/optimization_routes.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/routes/quality_routes.py
  src/backend/api/routes/quality_routes.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/__init__.py
  src/backend/api/services/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/admin_service.py
  src/backend/api/services/admin_service.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/healing_service.py
  src/backend/api/services/healing_service.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/ingestion_service.py
  src/backend/api/services/ingestion_service.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/monitoring_service.py
  src/backend/api/services/monitoring_service.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/optimization_service.py
  src/backend/api/services/optimization_service.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/services/quality_service.py
  src/backend/api/services/quality_service.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/utils/__init__.py
  src/backend/api/utils/__init__.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/utils/auth_utils.py
  src/backend/api/utils/auth_utils.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/utils/pagination_utils.py
  src/backend/api/utils/pagination_utils.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/utils/response_utils.py
  src/backend/api/utils/response_utils.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/api/utils/validation_utils.py
  src/backend/api/utils/validation_utils.py
Owners: @api-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/configs/alert_rules.yaml
  src/backend/configs/alert_rules.yaml
Owners: @platform-team, @devops-team
