Repository vasubajaj7/self-healing-data-pipeline-on-gcp-ezhgxh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @data-engineering-leads, @data-ingestion-team, @data-quality-team, @ai-ml-team, @monitoring-team, @performance-team, @api-team, @orchestration-team, @platform-team, @data-team, @frontend-team, @ui-leads, @devops-team, @qa-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @data-engineering-leads

# Backend core components
/src/backend/ingestion/ @data-ingestion-team @data-engineering-leads
/src/backend/quality/ @data-quality-team @data-engineering-leads
/src/backend/self_healing/ @ai-ml-team @data-engineering-leads
/src/backend/monitoring/ @monitoring-team @data-engineering-leads
/src/backend/optimization/ @performance-team @data-engineering-leads
/src/backend/api/ @api-team @data-engineering-leads
/src/backend/airflow/ @orchestration-team @data-engineering-leads
/src/backend/utils/ @platform-team @data-engineering-leads
/src/backend/db/ @data-team @data-engineering-leads
/src/backend/configs/ @platform-team @data-engineering-leads

# Frontend components
/src/web/ @frontend-team @ui-leads

# Infrastructure code
/infrastructure/ @devops-team @platform-team
/src/backend/terraform/ @devops-team @platform-team

# CI/CD and GitHub workflows
/.github/ @devops-team @platform-team

# Testing framework
/src/test/ @qa-team @data-engineering-leads

# Documentation
/docs/ @technical-writers @data-engineering-leads

# Critical security and configuration files
*.tf @devops-team @security-team
*.yaml @platform-team @devops-team
*.json @platform-team @devops-team

# Security-sensitive areas
/src/backend/utils/auth/ @security-team @data-engineering-leads
/src/backend/api/middleware/auth_middleware.py @security-team @api-team
/src/web/src/utils/auth.ts @security-team @frontend-team
/src/web/src/hooks/useAuth.ts @security-team @frontend-team

# Deployment and build scripts
*.sh @devops-team
/src/backend/scripts/ @devops-team @platform-team

# Package dependencies
**/requirements.txt @platform-team @security-team
**/package.json @platform-team @security-team
**/pyproject.toml @platform-team @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/env/staging.tfvars
  src/backend/terraform/env/staging.tfvars
Owners: @devops-team, @platform-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/bigquery/main.tf
  src/backend/terraform/modules/bigquery/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/bigquery/outputs.tf
  src/backend/terraform/modules/bigquery/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/bigquery/variables.tf
  src/backend/terraform/modules/bigquery/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/composer/main.tf
  src/backend/terraform/modules/composer/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/composer/outputs.tf
  src/backend/terraform/modules/composer/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/composer/variables.tf
  src/backend/terraform/modules/composer/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/monitoring/main.tf
  src/backend/terraform/modules/monitoring/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/monitoring/outputs.tf
  src/backend/terraform/modules/monitoring/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/monitoring/variables.tf
  src/backend/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/vertex_ai/main.tf
  src/backend/terraform/modules/vertex_ai/main.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/vertex_ai/outputs.tf
  src/backend/terraform/modules/vertex_ai/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/terraform/modules/vertex_ai/variables.tf
  src/backend/terraform/modules/vertex_ai/variables.tf
Owners: @devops-team, @security-team

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/__init__.py
  src/backend/utils/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/auth/__init__.py
  src/backend/utils/auth/__init__.py
Owners: @security-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/auth/gcp_auth.py
  src/backend/utils/auth/gcp_auth.py
Owners: @security-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/auth/oauth_client.py
  src/backend/utils/auth/oauth_client.py
Owners: @security-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/auth/token_manager.py
  src/backend/utils/auth/token_manager.py
Owners: @security-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/concurrency/__init__.py
  src/backend/utils/concurrency/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/concurrency/rate_limiter.py
  src/backend/utils/concurrency/rate_limiter.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/concurrency/thread_pool.py
  src/backend/utils/concurrency/thread_pool.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/concurrency/throttler.py
  src/backend/utils/concurrency/throttler.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/config/__init__.py
  src/backend/utils/config/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/config/config_loader.py
  src/backend/utils/config/config_loader.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/config/environment.py
  src/backend/utils/config/environment.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/config/secret_manager.py
  src/backend/utils/config/secret_manager.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/datetime/__init__.py
  src/backend/utils/datetime/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/datetime/date_parser.py
  src/backend/utils/datetime/date_parser.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/datetime/scheduling_utils.py
  src/backend/utils/datetime/scheduling_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/datetime/timezone_utils.py
  src/backend/utils/datetime/timezone_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/errors/__init__.py
  src/backend/utils/errors/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/errors/error_reporter.py
  src/backend/utils/errors/error_reporter.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/errors/error_types.py
  src/backend/utils/errors/error_types.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/errors/exception_handler.py
  src/backend/utils/errors/exception_handler.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/http/__init__.py
  src/backend/utils/http/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/http/http_client.py
  src/backend/utils/http/http_client.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/http/request_utils.py
  src/backend/utils/http/request_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/http/response_utils.py
  src/backend/utils/http/response_utils.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/logging/__init__.py
  src/backend/utils/logging/__init__.py
Owners: @platform-team, @data-engineering-leads

Add public-samples/self-healing-data-pipeline-on-gcp-ezhgxh/src/backend/utils/logging/log_formatter.py
  src/backend/utils/logging/log_formatter.py
Owners: @platform-team, @data-engineering-leads
